body{
margin: 0;
padding: 0;
font-family: sans-serif;
}

.box{
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
width: 400px;
padding: 40px;
background-color: rgba(0, 0, 0, 0);

}
